#context-menu {
    background-color: rgba(255,255,255,.7);
    border: 1px solid;
    list-style: none;
    padding: 0;
    margin: 1rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    overflow: hidden;
    pointer-events: none;
    display: none;

    &.open {
        display: block;
        pointer-events: all;
    }

    &::before {
        display: block;;
        content: 'Tile types';
        font-size: .85em;
        text-align: center;
        margin-top: .5em;
        width: 100%;
    }

    & li {
        display: flex;
        gap: .5rem;
        align-items: center;
        position: relative;
        padding: 8px 8px 9px 8px;
        cursor: pointer;
        font-size: .85em;;


        &:not(:last-child) {      
            
            &::before {
                position: absolute;
                content: "";
                display: block;
                left: 8px;
                right: 8px;
                bottom: 0;
                background-color: rgba(0,0,0,.3);
                height: 1px;
            }
        }

        &:hover {
            background-color: rgba(0,0,0,.1);
        }

        & i.tile {
            float: none;
            border: 1px solid;
            display: block;
            height: 20px;
            width: 20px;
        }
    }
}