:root {
    --spacing: 16px;
}

body {
    display: grid;
    grid-template-areas: 
        ". header ."
        "sidebar flash .";
    gap: var(--spacing);
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

@media screen and (max-width: 960px) {
    body {
        gap: var(--spacing);
        flex-direction: column;
        justify-content: center !important;
    }
}

header {
    grid-area: header;
    & h1 { 
        margin: 0; 
        color: #fff;
        text-align: center;
    }
}

aside {
    grid-area: sidebar;
    padding: var(--spacing);
    color: #fff;
    background-color: rgba(0,0,0,.66);

    & h3 {
        font-weight: 600;
        margin-bottom: calc(var(--spacing) * .5);
    }

    & > div {
        display: flex;
        gap: calc(var(--spacing) * .5);
    }

    & input, & label {
        cursor: pointer;
        accent-color: #000;
        user-select: none;
    }

    & button {
        display: block;
        margin: var(--spacing) auto 0;
        font-size: 1rem;
        border: none;
        border-radius: 2px;
        cursor: pointer;
    }
}

div#flash {
    grid-area: flash;
    margin: 0;
    position: relative;
    
    &::before {
        display: block;
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgba(0,0,0,.66);
        z-index: 0;
    }

    & div.tile {
        position: relative;
    }

    & div.tile {
        &::after {
            content: "";
            position: absolute;
            display: block;
            inset: 0;
            background-color: rgba(0,0,0,0);
            pointer-events: none;
        }
        &:hover::after {
            background-color: rgba(0,0,0,.2);
        }
    }

    & div#tileLayer, & div#blockLayer {
        position: absolute;
        opacity: 0;
        pointer-events: none;
        transition: opacity .5s ease;

        &.show {
            opacity: 1;
            pointer-events: all;
        }
    }
    
    & div#blockLayer {
        background-color: rgba(0,0,0,.2);
    }
}

#context-menu {
    background-color: rgba(255,255,255,.7);
    border: 1px solid;
    list-style: none;
    padding: 0;
    margin: var(--spacing);
    position: absolute;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    overflow: hidden;
    pointer-events: none;
    display: none;

    &.open {
        display: block;
        pointer-events: all;
    }

    & h4 {
        font-size: .85rem;
        text-transform: capitalize;
        text-align: center;
        padding: calc(var(--spacing) * .5);
        margin: 0;
        font-weight: 600;
        position: relative;
        display: none;
    }

    & ul {
        margin: 0;
        padding: 0;
        display: none;

        & li {
            display: flex;
            gap: calc(var(--spacing) * .5);
            align-items: center;
            position: relative;
            padding: calc(var(--spacing) * .5);
            cursor: pointer;
            font-size: .85em;;

            &:hover, &.active {
                background-color: rgba(0,0,0,.1);
            }

            & i.tile {
                float: none;
                border: 1px solid;
                display: block;
                height: 20px;
                width: 20px;
            }
        }
    }
}

.show { display: block !important; }
#context-menu .b10 { background: 
    repeating-linear-gradient(45deg, 
    rgba(0,0,0,0),
    rgba(0,0,0,0) 4px, 
    rgba(0,0,0,1) 4px,
     rgba(0,0,0,1) 5px); }

#modal {
    position: fixed;
    background-color: #fff;
    padding: calc(var(--spacing) * 2);
    border-radius: 4px;
    max-height: calc(100vh - (var(--spacing) * 2));
    left: 50%;
    transform: translateX(-50%);
    margin: var(--spacing);
    box-sizing: border-box;
    overflow-y: scroll;

    & > div {
        box-sizing: border-box;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        gap: calc(var(--spacing) * 2);
    }

    & pre {
        font-size: .8em;
        line-height: 2.2em;
    }
}