/**
 * Import base style
 */
/**
 * Style with LESS.
 */
/** --------------------------------------------------------------
 * Reset. http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126
 *
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100.01%;
  font: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** --------------------------------------------------------------
 * HTML5 elements.
 *
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  display: inline;
  zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
/** --------------------------------------------------------------
 * The micro clearfix http://nicolasgallagher.com/micro-clearfix-hack/
 *
 */
.wrapper {
  zoom: 1;
}
.wrapper:before,
.wrapper:after {
  content: "";
  display: table;
}
.wrapper:after {
  clear: both;
}
/** --------------------------------------------------------------
 * Typography.
 * 
 */
/* 16px - 100%/1.375 */
body {
  color: #222;
  font:
    100.01%/1.375 Tahoma,
    Geneva,
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
}
p {
  margin-bottom: 22px;
}
b,
strong {
  font-weight: bold;
}
i,
em {
  font-style: italic;
}
pre,
code {
  font: 1em/1.375 monospace;
}
/* headers */
h1 {
  font-size: 2.375em;
  line-height: 1.1579;
  margin-bottom: 22px;
}
/* Lists */
li ul,
li ol {
  margin: 0;
}
ul,
ol {
  margin: 0.6875em 1.5em 1.375em 0;
  padding-left: 1.5em;
}
ul {
  list-style-type: disc;
}
ol {
  list-style-type: decimal;
}
/* Tables. Because of the need for padding on TH and TD, the vertical rhythm
  on table cells has to be 33px, instead of the standard 22px or 44px
  of other elements. */
table {
  margin-bottom: 1.375em;
  width: 100%;
}
caption {
  text-align: left;
  font-style: italic;
}
thead {
  border-bottom: 2px solid #222;
}
th {
  vertical-align: bottom;
  font-weight: bold;
  text-align: left;
}
th,
td {
  padding: 5px 10px 5px 5px;
}
tbody tr {
  border-bottom: 1px solid #eee;
}
tbody tr:hover {
  color: #000;
}
tfoot {
  font-style: italic;
}
/** --------------------------------------------------------------
 * CSS3 mixins.
 * 
 */
/** --------------------------------------------------------------
 * Colors.
 * 
 */
.black {
  color: #000;
}
.blue {
  color: #049cdb;
}
.green {
  color: #46a546;
}
.red {
  color: #9d261d;
}
.yellow {
  color: #ffc40d;
}
.orange {
  color: #f89406;
}
/** --------------------------------------------------------------
 * Variables.
 * 
 */
:root {
  --tileSize: 32px;
}
@media screen and (max-width: 960px) {
  :root {
    --tileSize: 14px;
  }
}

/** --------------------------------------------------------------
 * Page layout.
 * 
 */
body {
  background: no-repeat center / cover url(img/bg2.webp) #050505;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body * {
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

@media screen and (max-width: 960px) {
  body {
    align-items: flex-start;
    padding: 10vw 0 20vw 0;
    max-width: 100vw;
    max-height: none;
    min-height: none;
    height: 100vh;
    height: 100lvh;
    overflow: hidden;
    touch-action: none;
  }
}
/** --------------------------------------------------------------
 * Boxes.
 * 
 */

#shake-wrap {
  position: relative;

  &.digging {
    animation: digging 1000ms linear;
  }

  &.nibbed {
    animation: nibbed 180ms linear;

    & span#score-cats {
      transform: scale(500%) rotate(22deg);
      color: red;
    }
  }

  &.eaten {
    animation: eaten 350ms linear;
  }

  &.eating {
    animation: eating 350ms linear;

    & span#score-cheeses {
      transform: scale(500%) rotate(-22deg);
      color: greenyellow;
    }
  }
}

#flash {
  margin: 48px auto 32px auto;
  height: calc(var(--tileSize) * 24);
  width: calc(var(--tileSize) * 24);
  padding: 0;
  position: relative;
  border: 16px solid rgba(0, 0, 0, 0.66);
  border-radius: 4px;
  overflow: hidden;
}

#scoreboard,
#timer {
  background-color: rgba(0, 0, 0, 0.66);
  color: #fff;
  padding: 0 16px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  height: calc(1em + 16px);
  box-sizing: border-box;
  line-height: 1em;
}

#scoreboard {
  bottom: 0;
  padding-top: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  display: flex;
  gap: 16px;
  z-index: 10;

  & span:not(.score) {
    padding-right: 1em;
  }

  & span.score {
    position: absolute;
    font-weight: 800;
    transition:
      transform 0.5s ease,
      color 0.25s ease;
    margin-left: 0.25em;
  }
}

#timer {
  top: 0;
  padding-top: 16px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  font-size: 2em;
  line-height: 0.8em;

  & span {
    font-weight: 800;

    &.timesup {
      transform: scale(500%) rotate(-22deg);
      color: red;
    }
  }
}

#game-alert {
  position: absolute;
  font-size: 2em;
  color: #fff;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.66);
  border-radius: 4px;
  z-index: 10;
  top: 50%;
  isolation: isolate;
  text-align: center;
  z-index: 99;
}
#game-alert::after {
  content: "Tryck på mellanslag (space) för att spela igen.";
  position: absolute;
  display: block;
  color: #fff;
  width: 100%;
  font-size: 0.5em;
  text-align: center;
  top: calc(100% + 1rem);
}

@media screen and (max-width: 960px) {
  #game-alert::after {
    content: "Tryck på displayen för att spela igen.";
  }
}

#game-alert::before {
  content: "";
  display: none;
  background-color: rgba(55, 0, 0, 0.33);
  width: 100vw;
  height: 100vh;
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;
}

.game-over #game-alert::before {
  display: block;
}

#touch-controls {
  display: grid;
  grid-template-areas:
    ". up ."
    "left . right"
    ". down .";

  z-index: 98;
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;

  & button {
    position: relative;
    height: 12vw;
    width: 12vw;
    touch-action: manipulation;
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0.25);
    border: none;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 1);
    border: 1px solid #fff;
    opacity: 0.66;
    -webkit-mask-position:
      center,
      0 0;
    -webkit-mask-size:
      contain,
      100% 100%;
    -webkit-mask-repeat: no-repeat, no-repeat;
    -webkit-mask-composite: xor;
    mask-position:
      center,
      0 0;
    mask-size:
      contain,
      100% 100%;
    mask-repeat: no-repeat, no-repeat;
    mask-composite: exclude;
    transition: transform 25ms linear;

    &.active {
      transform: scale(0.9);
    }

    &#touch-left {
      grid-area: left;
      -webkit-mask-image:
        url("img/caret-left-solid-full.svg"), linear-gradient(#000 0 0);
      mask-image:
        url("img/caret-left-solid-full.svg"), linear-gradient(#000 0 0);
    }
    &#touch-up {
      grid-area: up;
      -webkit-mask-image:
        url("img/caret-up-solid-full.svg"), linear-gradient(#000 0 0);
      mask-image: url("img/caret-up-solid-full.svg"), linear-gradient(#000 0 0);
    }
    &#touch-right {
      grid-area: right;
      -webkit-mask-image:
        url("img/caret-right-solid-full.svg"), linear-gradient(#000 0 0);
      mask-image:
        url("img/caret-right-solid-full.svg"), linear-gradient(#000 0 0);
    }
    &#touch-down {
      grid-area: down;
      -webkit-mask-image:
        url("img/caret-down-solid-full.svg"), linear-gradient(#000 0 0);
      mask-image:
        url("img/caret-down-solid-full.svg"), linear-gradient(#000 0 0);
    }
  }
}
/** --------------------------------------------------------------
 * Footer.
 * 
 */
#footer {
  border-top: 1px solid #999;
  font-size: smaller;
  color: #999;
  margin-top: 22px;
  padding-top: 0.5em;
}
#footer a {
  color: #999;
  text-decoration: none;
}
#footer a:hover {
  color: #333333;
  text-decoration: underline;
}

.baddie {
  position: absolute;
  -webkit-transition-property: left, top;
  -moz-transition-property: left, top;
  -ms-transition-property: left, top;
  -o-transition-property: left, top;
  transition-property: left, top;
  -webkit-transition-duration: 225ms;
  -moz-transition-duration: 225ms;
  -ms-transition-duration: 225ms;
  -o-transition-duration: 225ms;
  transition-duration: 225ms;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  z-index: 10;
  width: var(--tileSize);
  height: var(--tileSize);
}
.baddie i {
  position: absolute;

  z-index: 10;
  inset: 0;
  background: url(img/sprite_mickey_mos_mini.png) center / auto var(--tileSize) no-repeat;
}
.baddie::after i {
  display: none;
}

.game-won .baddie i {
  overflow: visible;
}

.baddie::before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 2s ease;
  transition-delay: 300ms;
  opacity: 0;

  width: calc(var(--tileSize) * 24 * 2);
  height: calc(var(--tileSize) * 24 * 2);
    background: radial-gradient(
    rgba(255, 255, 255, .95) 0%,
    rgba(255, 255, 220, .7) 75%
  );
  z-index: -1;
  pointer-events: none;
}

.game-won .baddie::before {
  opacity: 1;
}

.digging .baddie {
  transition-delay: 200ms;
  transition-duration: 500ms;
  animation: baddie-digging 1500ms linear;
}

.lightsout .baddie::after {
  content: "";
  display: block;
  background: radial-gradient(
    rgba(150, 150, 0, 0.05) 10%,
    rgba(0, 0, 0, 0.95) 25%
  );
  width: calc(var(--tileSize) * 24 * 2);
  height: calc(var(--tileSize) * 24 * 2);
  position: absolute;
  left: 16px;
  top: 16px;
  transform: translate(-50%, -50%);
  position: absolute;
  transition: opacity 5s ease;
}

.game-won .lightsout .baddie::after {
  display: none;
}

.baddie.up i {
  background-position: calc(var(--tileSize) * -3) 0;
}
.baddie.down i {
  background-position: calc(var(--tileSize) * -2) 0;
}
.baddie.left i {
  background-position: calc(var(--tileSize) * -1) 0;
}
.baddie.right i {
  background-position: 0 0;
}
/** --------------------------------------------------------------
 * Boulder Dash Gameplan
 * 
 */
.tile,
.t,
.block,
.b {
  width: var(--tileSize);
  height: var(--tileSize);
  float: left;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.r90 { transform: rotate(90deg); }
.r180 { transform: rotate(180deg); }
.r270 { transform: rotate(270deg); }
.r90, .r180, .r270 {
  &.b55, &.b56, &.b57, &.b58, &.b59, &.b70 {
    transform: none;
  }
}
.t10 {
  background-image: none;
} /* t10 = default ground on maps */

.t11 {
  background-image: url(img/tiles/floor/grass_0_old.png);
}
.t12 {
  background-image: url(img/tiles/floor/grass_1_old.png);
}
.t13 {
  background-image: url(img/tiles/floor/grass_2_old.png);
}
.t14 {
  background-image: url(img/tiles/floor/grass_flowers_red_3_old.png);
}
.t15 {
  background-image: url(img/tiles/floor/grass_flowers_blue_3_old.png);
}
.t16 {
  background-image: url(img/tiles/floor/grass_flowers_yellow_3_old.png);
}
.t17 {
  background-image: url(img/tiles/floor/grass_north_old.png);
}

/* .t19{ background-image: url(img/tiles/floor/grass_northwest_old.png);} */
.t20 {
  background-image: url(img/tiles/floor/grass_west_old.png);
}
.t21 {
  background-image: url(img/tiles/floor/grass_full_old.png);
}
.t22 {
  background-image: url(img/tiles/floor/grass_southwest_old.png);
}
.t23 {
  background-image: url(img/tiles/floor/grass_south_old.png);
}

/* Start/mål-pilar */
.t24 {
  background-image: url(img/tiles/floor/grass_arrow_down.png);
} /* Down */
.t25 {
  background-image: url(img/tiles/floor/grass_arrow_right.png);
} /* Right */

/* Block (väggar, dörrar) */
/* t = väggar som går att gå igenom, b = vanliga väggar */
.t30,
.b30 {
  background-image: url(img/tiles/wall/brick_brown-vines_1.png);
}
.t31,
.b31 {
  background-image: url(img/tiles/wall/metal_wall.png);
}
.t32,
.b32 {
  background-image: url(img/tiles/wall/crystal_wall02.png);
}
.t33,
.b33 {
  background-image: url(img/tiles/wall/mirrored_wall_old.png);
}
.t34,
.b34 {
  background-image: url(img/tiles/wall/green_crystal_wall.png);
  background-color: green;
}
.t35,
.b35 {
  background-image: url(img/tiles/passage/open_door.png);
  background-color: #bbb;
}
.t36,
.b36 {
  background-image: url(img/tiles/passage/closed_door.png);
}
.t99 {
  background:
    no-repeat center / cover url(img/tiles/passage/finish2.png),
    url(img/tiles/floor/grass_1_old.png);
}

/* Ost */
.b20 {
  background-image: url(img/tiles/floor/grass_0_old-cheese.png);
} /* Hel ost */
.b21 {
  background-image: url(img/tiles/floor/grass_0_old-cheese-halfeaten.png);
} /* Halv ost */
.t28 {
  background-image: url(img/tiles/floor/grass_0_old-cheese-eaten.png);
} /* Uppäten ost. OBS, notera class! */

.b22 {
  background-image:
    url(img/tiles/items/rod_3_old.png),
    url(img/tiles/floor/grass_0_old-cheese-eaten.png);
}

/* Cats overlay on top of grass */
.b55,
.b56,
.b57,
.b58,
.b59 {
  background-color: transparent !important;
  position: relative;
}

.b55::after,
.b56::after,
.b57::after,
.b58::after,
.b59::after {
  content: "";
  position: absolute;
  inset: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;
}

/* Cats */
.b55::after {
  background: no-repeat center / cover url(sorken.img/felids/cat_10.png);
}
.b56::after {
  background: no-repeat center / cover url(sorken.img/felids/cat_9.png);
}
.b57::after {
  background: no-repeat center / cover url(sorken.img/felids/cat_8.png);
}
.b58::after {
  background: no-repeat center / cover url(sorken.img/felids/cat_7.png);
}
.b59::after {
  background: no-repeat center / cover url(sorken.img/felids/cat_6.png);
}

.t89,
.b89 {
  background: no-repeat center / cover
    url(img/tiles/floor/grass_0_old-hole_filled.png);
}

/*Portals*/
.b90,
.b91,
.b92,
.b93,
.b94,
.b95,
.b96,
.b97,
.b98 {
  background: no-repeat center / cover url(img/tiles/floor/grass_0_old-hole.png);
}

@keyframes eating {
  0% {
    transform: translate(0px, 0px) rotate(0deg) scale(1) skew(0deg, 0deg);
  }
  14% {
    transform: translate(-1px, 1px) rotate(-0.7deg) scale(1.004)
      skew(0.1deg, -0.05deg);
  }
  28% {
    transform: translate(2px, -1px) rotate(0.6deg) scale(1.008)
      skew(-0.1deg, 0.05deg);
  }
  42% {
    transform: translate(-2px, 1px) rotate(-1deg) scale(1.014)
      skew(0.1deg, -0.05deg);
  }
  55% {
    transform: translate(1px, 2px) rotate(0.8deg) scale(1.02)
      skew(-0.1deg, 0.08deg);
  } /* max */
  70% {
    transform: translate(-2px, -1px) rotate(-1.1deg) scale(1.012)
      skew(0.1deg, -0.08deg);
  }
  84% {
    transform: translate(2px, 1px) rotate(0.7deg) scale(1.006)
      skew(-0.08deg, 0.06deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg) scale(1) skew(0deg, 0deg);
  }
}

@keyframes nibbed {
  0% {
    transform: translate(0px, 0px) rotate(0deg) scale(1);
  }
  18% {
    transform: translate(-2px, 1px) rotate(-1.2deg) scale(1.01);
  }
  36% {
    transform: translate(3px, -2px) rotate(1.6deg) scale(1.02);
  }
  54% {
    transform: translate(-3px, 2px) rotate(-1.8deg) scale(1.012);
  }
  72% {
    transform: translate(2px, -1px) rotate(1deg) scale(1.005);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg) scale(1);
  }
}

@keyframes eaten {
  0% {
    transform: translate(0px, 0px) rotate(0deg) scale(1);
  }
  12% {
    transform: translate(-2px, 1px) rotate(-1deg) scale(1.01);
  }
  24% {
    transform: translate(3px, -2px) rotate(1.4deg) scale(1.015);
  }
  36% {
    transform: translate(-4px, 2px) rotate(-2deg) scale(1.02);
  }
  48% {
    transform: translate(4px, 0px) rotate(2.2deg) scale(1.018);
  }
  60% {
    transform: translate(-3px, -1px) rotate(-1.6deg) scale(1.01);
  }
  72% {
    transform: translate(1px, 1px) rotate(0.8deg) scale(0.98);
  }
  86% {
    transform: translate(0px, 0px) rotate(0deg) scale(0.94);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg) scale(1);
  }
}

@keyframes baddie-digging {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes digging {
  0% {
    transform: translate(0px, 0px) rotate(0deg) scale(1);
  }
  6% {
    transform: translate(-1px, 1px) rotate(-0.3deg) scale(1.002);
  }
  12% {
    transform: translate(2px, -1px) rotate(0.4deg) scale(1.004);
  }
  20% {
    transform: translate(-2px, 1px) rotate(-0.5deg) scale(1.003);
  }
  28% {
    transform: translate(0px, 3px) rotate(0.2deg) scale(1.006);
  }
  32% {
    transform: translate(0px, 1px) rotate(-0.2deg) scale(1.004);
  }
  40% {
    transform: translate(2px, 0px) rotate(0.5deg) scale(1.003);
  }
  50% {
    transform: translate(-1px, 3px) rotate(-0.3deg) scale(1.006);
  }
  54% {
    transform: translate(-1px, 1px) rotate(0.2deg) scale(1.004);
  }
  62% {
    transform: translate(1px, -1px) rotate(0.4deg) scale(1.003);
  }
  70% {
    transform: translate(-2px, 1px) rotate(-0.5deg) scale(1.003);
  }
  80% {
    transform: translate(0px, 3px) rotate(0.2deg) scale(1.005);
  }
  84% {
    transform: translate(0px, 1px) rotate(-0.2deg) scale(1.003);
  }
  92% {
    transform: translate(1px, 0px) rotate(0.3deg) scale(1.002);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg) scale(1);
  }
}

.b70 {
  background-image: url(img/caustic_shrike.png), url(img/tiles/floor/grass_0_old.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation: eagle-fly 0.4s steps(1) infinite;
}

@keyframes eagle-fly {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}

#eagleAlert {
  z-index: 9999;
  padding: 24px 32px;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
}

#life-bar {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: calc(var(--tileSize) * 0.5);
  top: calc(32px - var(--tileSize));
  right: 0;
  padding: 0;
  list-style: none;

  & li {
    height: var(--tileSize);
    width: var(--tileSize);
    background: url(img/sprite_mickey_mos.png) calc(var(--tileSize) * -2) / auto
      var(--tileSize) no-repeat;
  }
}
