/**
 * Import base style
 */
/**
 * Style with LESS.
 */
/** --------------------------------------------------------------
 * Reset. http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126
 *
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100.01%;
  font: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** --------------------------------------------------------------
 * HTML5 elements.
 *
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  display: inline;
  zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
/** --------------------------------------------------------------
 * The micro clearfix http://nicolasgallagher.com/micro-clearfix-hack/
 *
 */
.wrapper {
  zoom: 1;
}
.wrapper:before,
.wrapper:after {
  content: '';
  display: table;
}
.wrapper:after {
  clear: both;
}
/** --------------------------------------------------------------
 * Typography.
 * 
 */
/* 16px - 100%/1.375 */
body {
  color: #222;
  font: 100.01%/1.375 Tahoma, Geneva, 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
}
p {
  margin-bottom: 22px;
}
b,
strong {
  font-weight: bold;
}
i,
em {
  font-style: italic;
}
pre,
code {
  font: 1em/1.375 monospace;
}
/* headers */
h1 {
  font-size: 2.375em;
  line-height: 1.1579;
  margin-bottom: 22px;
}
/* Lists */
li ul,
li ol {
  margin: 0;
}
ul,
ol {
  margin: 0.6875em 1.5em 1.375em 0;
  padding-left: 1.5em;
}
ul {
  list-style-type: disc;
}
ol {
  list-style-type: decimal;
}
/* Tables. Because of the need for padding on TH and TD, the vertical rhythm
  on table cells has to be 33px, instead of the standard 22px or 44px
  of other elements. */
table {
  margin-bottom: 1.375em;
  width: 100%;
}
caption {
  text-align: left;
  font-style: italic;
}
thead {
  border-bottom: 2px solid #222;
}
th {
  vertical-align: bottom;
  font-weight: bold;
  text-align: left;
}
th,
td {
  padding: 5px 10px 5px 5px;
}
tbody tr {
  border-bottom: 1px solid #eee;
}
tbody tr:hover {
  color: #000;
}
tfoot {
  font-style: italic;
}
/** --------------------------------------------------------------
 * CSS3 mixins.
 * 
 */
/** --------------------------------------------------------------
 * Colors.
 * 
 */
.black {
  color: #000;
}
.blue {
  color: #049cdb;
}
.green {
  color: #46a546;
}
.red {
  color: #9d261d;
}
.yellow {
  color: #ffc40d;
}
.orange {
  color: #f89406;
}
/** --------------------------------------------------------------
 * Page layout.
 * 
 */
body {
  background-image: url(img/bg2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/** --------------------------------------------------------------
 * Boxes.
 * 
 */
#flash {
  margin: 2em auto;
  background-color: rgba(238, 238, 238, 0.95);
  min-height: 10em;
  min-width: 768px;
  border: 1px solid #999;
  padding: 0;
  box-shadow: 0 10px 10px 5px rgba(0,0,0,.25);
  
}
/** --------------------------------------------------------------
 * Footer.
 * 
 */
#footer {
  border-top: 1px solid #999;
  font-size: smaller;
  color: #999;
  margin-top: 22px;
  padding-top: 0.5em;
}
#footer a {
  color: #999;
  text-decoration: none;
}
#footer a:hover {
  color: #333333;
  text-decoration: underline;
}
/**
 * Here comes specific style for a certain test program.
 */
#scoreboard, #timer {
  background-color: rgba(0,0,0,.66);
  color: #fff;
  padding: 1rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#scoreboard {
  bottom: 0;
  padding-top: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  display: flex;
  gap: 1.5rem;
  z-index: 10;

  & span:not(.score) {
    padding-right: 1rem;
  }

  & span.score {
    position: absolute;
    font-weight: 800;
    transition: transform .5s ease, color .25s ease;
    margin-left: .25em;
  }
}

#timer {
  top: -1rem;
  padding-bottom: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  & span {
    font-weight: 800;
    font-size: 2rem;
    line-height: 2rem;

    &.timesup {
      transform: scale(500%) rotate(-22deg);
      color: red;
    }
  }
}

#shake-wrap {
  position: relative;

  &.digging { 
    animation: digging 1000ms linear;
  }

  &.eaten { 
    animation: eaten 350ms linear; 
  }

  &.eating { 
    animation: eating 350ms linear; 
    
    & span#score-cheeses {
      transform: scale(500%) rotate(-22deg);
      color: greenyellow;
    }
  }
}
#flash{
  position: relative;
  width: 768px;
  height: 768px;
  border: 1rem solid rgba(0,0,0,.66);
  background-color: transparent;
  border-radius: 4px;
  overflow: hidden;
}
#game-alert {
  position: absolute;
  font-size: 2em;
  color: #fff;
  padding: 1rem;
  background-color: rgba(0,0,0,.66);
  border-radius: 4px;
  z-index: 10;
}
#game-alert::after {
  content: "Tryck på mellanslag (space) för att försöka igen.";
  position: absolute;
  display: block;
  color: #fff;
  width: 100%;
  font-size: .5em;
  text-align: center;
  top: calc(100% + 1rem);
}
.baddie{
  position: absolute;
}
.baddie {
  z-index: 10;
  width: 32px;
  height: 32px;
  background-image: url(img/sprite_mickey_mos_mini.png);
  background-repeat: no-repeat;
  -webkit-transition-property: left, top;
  -moz-transition-property: left, top;
  -ms-transition-property: left, top;
  -o-transition-property: left, top;
  transition-property: left, top;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}
.baddie::after {
  display: none;
}

.lightsout .baddie::after {
  content: "";
  display: block;
  background: radial-gradient(rgba(0,0,0,0) 10%, rgba(0,0,0,.95) 25%);
  width: 1536px;
  height: 1536px;
  position: absolute;
  left: 16px;
  top: 16px;
  transform: translate(-50%, -50%);
  position: absolute;
  transition: opacity 5s ease;
}
.baddie.up {
  background-position: -96px 0;
}
.baddie.down {
  background-position: -64px 0;
}
.baddie.left {
  background-position: -32px 0;
}
.baddie.right {
  background-position: 0 0;
}
/** --------------------------------------------------------------
 * Boulder Dash Gameplan
 * 
 */
.tile,
.t,
.block,
.b {
  width: 32px;
  height: 32px;
  float: left;
  background-repeat: no-repeat;
}
.t10 {
  background-image: url(img/tiles/floor/grass_0_old.png);
}
.t19 {
  background-image: url(img/tiles/wall/metal_wall.png);
}
.t12 {
  background-image: url(img/tiles/floor/grass_0_old.png);
}
.t13 {
  background-image: url(img/tiles/floor/grass_1_old.png);
}
.t14 {
  background-image: url(img/tiles/floor/grass_2_old.png);
}
.t15 {
  background-image: url(img/tiles/floor/grass_flowers_red_3_old.png);
}
.t16 {
  background-image: url(img/tiles/floor/grass_flowers_blue_3_old.png);
}
.t17 {
  background-image: url(img/tiles/floor/grass_flowers_yellow_3_old.png);
}
.t18 {
  background-image: url(img/tiles/floor/grass_north_old.png);
}
/* .t19{background-image:url(img/tiles/floor/grass_northwest_old.png);} */
.t20{background-image:url(img/tiles/floor/grass_west_old.png);}
.t21{background-image:url(img/tiles/floor/grass_full_old.png);}
.t22{background-image:url(img/tiles/floor/grass_southwest_old.png);}
.t23{background-image:url(img/tiles/floor/grass_south_old.png);}

/* Start/mål-pilar */
 .t24 {background-image:url(img/tiles/floor/grass_arrow_down.png);} /* Down */
 .t25 {background-image:url(img/tiles/floor/grass_arrow_right.png);} /* Right */



.b11{background-image:url(img/tiles/wall/metal_wall.png);}
.b12{background-image:url(img/tiles/wall/crystal_wall02.png);}
.b13{background-image:url(img/tiles/wall/mirrored_wall_old.png);}
.b14{background-image:url(img/tiles/wall/green_crystal_wall.png);background-color:green;}
.b17{background-image:url(img/tiles/passage/open_door.png);background-color:#bbb;}
.b18{background-image:url(img/tiles/passage/closed_door.png);}
.b19{background-image:url(img/tiles/wall/brick_brown-vines_1.png);}

 /* Ost */
 .b20 {background-image:url(img/tiles/floor/grass_0_old-cheese.png);} /* Hel ost */
 .b21 {background-image:url(img/tiles/floor/grass_0_old-cheese-halfeaten.png);} /* Halv ost */
 .t28 {background-image:url(img/tiles/floor/grass_0_old-cheese-eaten.png);} /* Uppäten ost. OBS, notera class! */

 .b22 {background-image:url(img/tiles/items/rod_3_old.png), url(img/tiles/floor/grass_0_old-cheese-eaten.png);}



/* Cats overlay on top of grass */
.b55,
.b56,
.b57,
.b58,
.b59 {
  background-color: transparent !important;
  position: relative;
}

.b55::after,
.b56::after,
.b57::after,
.b58::after,
.b59::after {
  content: '';
  position: absolute;
  inset: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;
}

/* Cats */
.b55::after {
  background-image: url(sorken.img/felids/cat_10.png);
}
.b56::after {
  background-image: url(sorken.img/felids/cat_9.png);
}
.b57::after {
  background-image: url(sorken.img/felids/cat_8.png);
}
.b58::after {
  background-image: url(sorken.img/felids/cat_7.png);
}
.b59::after {
  background-image: url(sorken.img/felids/cat_6.png);
}

/*Portals*/
.b90,
.b91,
.b92,
.b93,
.b94,
.b95,
.b96,
.b97,
.b98,
.b99 {
  background-image: url(img/tiles/floor/grass_0_old-hole.png);
  background-position: center;
  background-size: cover;
}

@keyframes eating {
  0%   { transform: translate(0px, 0px) rotate(0deg)     scale(1.000) skew(0deg, 0deg); }

  14%  { transform: translate(-1px,  1px) rotate(-0.7deg)  scale(1.004) skew( 0.10deg, -0.05deg); }
  28%  { transform: translate( 2px, -1px) rotate( 0.6deg)  scale(1.008) skew(-0.10deg,  0.05deg); }
  42%  { transform: translate(-2px,  1px) rotate(-1.0deg)  scale(1.014) skew( 0.10deg, -0.05deg); }

  55%  { transform: translate( 1px,  2px) rotate( 0.8deg)  scale(1.020) skew(-0.10deg,  0.08deg); } /* max */

  70%  { transform: translate(-2px, -1px) rotate(-1.1deg)  scale(1.012) skew( 0.10deg, -0.08deg); }
  84%  { transform: translate( 2px,  1px) rotate( 0.7deg)  scale(1.006) skew(-0.08deg,  0.06deg); }

  100% { transform: translate(0px, 0px) rotate(0deg)     scale(1.000) skew(0deg, 0deg); }
}

@keyframes eaten {
  0%   { transform: translate(0px, 0px) rotate(0deg)   scale(1.000); }
  12%  { transform: translate(-2px,  1px) rotate(-1.0deg) scale(1.010); }
  24%  { transform: translate( 3px, -2px) rotate( 1.4deg) scale(1.015); }
  36%  { transform: translate(-4px,  2px) rotate(-2.0deg) scale(1.020); }
  48%  { transform: translate( 4px,  0px) rotate( 2.2deg) scale(1.018); }
  60%  { transform: translate(-3px, -1px) rotate(-1.6deg) scale(1.010); }
  72%  { transform: translate( 1px,  1px) rotate( 0.8deg) scale(0.980); }
  86%  { transform: translate( 0px,  0px) rotate(0deg)   scale(0.940); }
  100% { transform: translate(0px, 0px) rotate(0deg)   scale(1.000); }
}

@keyframes digging{
  0%   { transform: translate(0px, 0px) rotate(0deg)   scale(1); }

  6%   { transform: translate(-1px,  1px) rotate(-0.3deg) scale(1.002); }
  12%  { transform: translate( 2px, -1px) rotate( 0.4deg) scale(1.004); }
  20%  { transform: translate(-2px,  1px) rotate(-0.5deg) scale(1.003); }

  28%  { transform: translate( 0px,  3px) rotate( 0.2deg) scale(1.006); }
  32%  { transform: translate( 0px,  1px) rotate(-0.2deg) scale(1.004); }

  40%  { transform: translate( 2px,  0px) rotate( 0.5deg) scale(1.003); }

  50%  { transform: translate(-1px,  3px) rotate(-0.3deg) scale(1.006); }
  54%  { transform: translate(-1px,  1px) rotate( 0.2deg) scale(1.004); }

  62%  { transform: translate( 1px, -1px) rotate( 0.4deg) scale(1.003); }
  70%  { transform: translate(-2px,  1px) rotate(-0.5deg) scale(1.003); }

  80%  { transform: translate( 0px,  3px) rotate( 0.2deg) scale(1.005); }
  84%  { transform: translate( 0px,  1px) rotate(-0.2deg) scale(1.003); }

  92%  { transform: translate( 1px,  0px) rotate( 0.3deg) scale(1.002); }
  100% { transform: translate(0px, 0px) rotate(0deg)   scale(1); }
}